$red : #FF1700;
$green:#06FF00;

.container-options{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 20%;
    height: 300px;
    margin-top: 50px;
    background-color: $green;
    border:5px $red groove ;
}
.btn-options{
    width: 70%;
    height: 100%;
    border-radius: 5px;
}
.link-options{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
    text-decoration: none;
}

@media (max-width: 600px) {
    .container-options{
        height: 20rem;
        width: 60%;
    }
    .link-options{
        width: 100%;
        height: 5rem;
        font-size: 30px;
    }
    .btn-options{
        font-size: 30px;
    }
    .container-options{
       margin-top: 5rem;
    }
}