$green:#06FF00;
.container-history{
    margin-top: 50px;
    width: 50%;
    height:auto;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $green;
}
@media (max-width: 600px) {
    .container-history{
        width: 60%;
    }
}
